<a href="https://colab.research.google.com/github/shindhuja2501/broadcasting/blob/master/PandasDataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
s=pd.Series([1,2,3,4,5,6,7,8,9],index=['s','h','i','n','d','h','u','j','a'])

In [0]:
s

s    1
h    2
i    3
n    4
d    5
h    6
u    7
j    8
a    9
dtype: int64

In [0]:
x=pd.Series([i for i in range(0,14)],index=['s','h','i','n','d','h','u','j','a','k','u','m','a','r'])

In [0]:
x

s     0
h     1
i     2
n     3
d     4
h     5
u     6
j     7
a     8
k     9
u    10
m    11
a    12
r    13
dtype: int64

In [0]:
x=pd.Series([i for i in range(0,10)])

In [0]:
x

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [0]:
y=pd.Series([i for i in range(1,10)])

In [0]:
y

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [0]:
z=pd.Series(x+y)

In [0]:
z

0     1.0
1     3.0
2     5.0
3     7.0
4     9.0
5    11.0
6    13.0
7    15.0
8    17.0
9     NaN
dtype: float64

In [0]:
i=pd.Series([i for i in range(1,10)])

In [0]:
j=pd.Series([i for i in range(1,10)])

In [0]:
i

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [0]:
j

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [0]:
k=pd.Series(x+y)

In [0]:
k

0     1.0
1     3.0
2     5.0
3     7.0
4     9.0
5    11.0
6    13.0
7    15.0
8    17.0
9     NaN
dtype: float64

In [0]:
s=pd.Series([i for i in range(0,9)],index=['s','h','i','n','d','h','u','j','a'])

In [45]:
s

s    0
h    1
i    2
n    3
d    4
h    5
u    6
j    7
a    8
dtype: int64

In [0]:
x=pd.DataFrame({"Name":["Shindhuja","Ashi","Kavya","Rangi","Haseena","Siva","Manju","Sowndarya","Ragavi","Ramya"],"Age":[i for i in range(0,10)],"Height":[i for i in range(0,10)]})

In [47]:
x

   Age  Height       Name
0    0       0  Shindhuja
1    1       1       Ashi
2    2       2      Kavya
3    3       3      Rangi
4    4       4    Haseena
5    5       5       Siva
6    6       6      Manju
7    7       7  Sowndarya
8    8       8     Ragavi
9    9       9      Ramya

In [48]:
x.Name

0    Shindhuja
1         Ashi
2        Kavya
3        Rangi
4      Haseena
5         Siva
6        Manju
7    Sowndarya
8       Ragavi
9        Ramya
Name: Name, dtype: object

In [49]:
x.Name[0]

'Shindhuja'

In [50]:
x[["Name","Age","Height"]]

        Name  Age  Height
0  Shindhuja    0       0
1       Ashi    1       1
2      Kavya    2       2
3      Rangi    3       3
4    Haseena    4       4
5       Siva    5       5
6      Manju    6       6
7  Sowndarya    7       7
8     Ragavi    8       8
9      Ramya    9       9

In [0]:
s=pd.DataFrame()